<!DOCTYPE html>
<html lang="zh-CN" style="overflow:hidden;">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <meta name="description" content="">
  <meta name="author" content="xsiry">
  <title>banner条</title>
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="../js/bootstrap/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="../style/banner.css">
</head>

<body>
  <div class="content">
    <script id="banner_template" type="text/html">
      <!-- 尺寸规则 宽度*高度*个数 -->
      <input type="hidden" class="max" name="max" value="1491*198*12">
      <input type="hidden" class="normal" name="normal" value="1281*174*10">
      <input type="hidden" class="min" name="min" value="1024*150*8">

      <div class="banner_list">
        {{each list as ban i}}
        <a class="up_a" href="{{ban.url}}" target="_self" number="{{ban.number}}">
          <div class="banner_block" style="{{if i==0 }}margin-left:0px;{{/if}}">
            <img class="up_img" src="{{ban.imgSrc}}" alt="{{ban.title}}" number="{{ban.number}}">
            {{if ban.hot}}
            <div class="tag"></div>
            {{/if}}
            <div class="bottom_title">{{ban.title}}</div>
          </div>
        </a>
        {{/each}}
      </div>
    </script>
  </div>
  <!-- JS -->
  <script type="text/javascript" src="../js/jquery/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../js/art-template/template.js"></script>
  <script type="text/javascript">

  // {{JSONDATA}}

  // 数据源
  var templateSource = [{
    type: '休闲游戏',
    random: true,
    list: [{
      url: 'gamerun://gameid=38151|http://bdtg.4366.com/22984.html',
      number: 'B7C7268E6F50|5256E9BF6B1A|F14E559C5CD0',
      hot: true,
      top: false,
      imgSrc: '../target/source/banner/test.png',
      title: '原始传奇(休闲)'
    }, {
      url: '',
      number: 'B7C7268E6F50|5256E9BF6B1A|F14E559C5CD0',
      hot: false,
      top: false,
      imgSrc: '../target/source/banner/test.png',
      title: '通天西游(休闲)'
    }, {
      url: '',
      number: 'B7C7268E6F50|5256E9BF6B1A|F14E559C5CD0',
      hot: true,
      top: false,
      imgSrc: '../target/source/banner/test.png',
      title: '剑雨江湖(休闲)'
    }, {
      url: '',
      number: 'B7C7268E6F50|5256E9BF6B1A|F14E559C5CD0',
      hot: true,
      top: true,
      imgSrc: '../target/source/banner/test.png',
      title: '东方世纪(休闲)'
    }, {
      url: '',
      number: 'B7C7268E6F50|5256E9BF6B1A|F14E559C5CD0',
      hot: true,
      top: false,
      imgSrc: '../target/source/banner/test.png',
      title: '天谕(休闲)'
    }, {
      url: '',
      number: 'B7C7268E6F50|5256E9BF6B1A|F14E559C5CD0',
      hot: false,
      top: true,
      imgSrc: '../target/source/banner/test.png',
      title: '征途(休闲)'
    }, {
      url: '',
      number: 'B7C7268E6F50|5256E9BF6B1A|F14E559C5CD0',
      hot: true,
      top: false,
      imgSrc: '../target/source/banner/test.png',
      title: '原始传奇(休闲)'
    }, {
      url: '',
      number: 'B7C7268E6F50|5256E9BF6B1A|F14E559C5CD0',
      hot: true,
      top: false,
      imgSrc: '../target/source/banner/test.png',
      title: '棋逢对手(休闲)'
    }]
  }, {
    type: '网络游戏',
    random: false,
    list: [{
      url: 'javascript:void(0)',
      number: 'B7C7268E6F50|5256E9BF6B1A|F14E559C5CD0',
      hot: true,
      top: false,
      imgSrc: '../target/source/banner/test.png',
      title: '原始传奇(网络)'
    }, {
      url: '',
      number: 'B7C7268E6F50|5256E9BF6B1A|81C626D7CA1C',
      hot: false,
      top: false,
      imgSrc: '../target/source/banner/test.png',
      title: '通天西游(网络)'
    }, {
      url: '',
      number: 'B7C7268E6F50|5256E9BF6B1A|759BCECB13EA',
      hot: true,
      top: false,
      imgSrc: '../target/source/banner/test.png',
      title: '剑雨江湖(网络)'
    }, {
      url: '',
      number: 'B7C7268E6F50|5256E9BF6B1A|8EC9D28252DC',
      hot: true,
      top: false,
      imgSrc: '../target/source/banner/test.png',
      title: '东方世纪(网络)'
    }, {
      url: '',
      number: 'B7C7268E6F50|5256E9BF6B1A|02AA832AEA6F',
      hot: true,
      top: false,
      imgSrc: '../target/source/banner/test.png',
      title: '天谕(网络)'
    }, {
      url: '',
      number: 'B7C7268E6F50|5256E9BF6B1A|8644FAD0FBF0',
      hot: false,
      top: false,
      imgSrc: '../target/source/banner/test.png',
      title: '征途(网络)'
    }, {
      url: '',
      number: 'B7C7268E6F50|5256E9BF6B1A|D396D2AF35FA',
      hot: true,
      top: false,
      imgSrc: '../target/source/banner/test.png',
      title: '原始传奇(网络)'
    }, {
      url: '',
      number: 'B7C7268E6F50|5256E9BF6B1A|16CEDDDE85B3',
      hot: true,
      top: false,
      imgSrc: '../target/source/banner/test.png',
      title: '棋逢对手(网络)'
    }]
  }, {
    type: '默认',
    random: true,
    list: [{
      url: 'gamerun://gameid=38151|http://bdtg.4366.com/22984.html',
      number: 'B7C7268E6F50|5256E9BF6B1A|F14E559C5CD0',
      hot: true,
      top: false,
      imgSrc: '../target/source/banner/test.png',
      title: '原始传奇(默认)'
    }, {
      url: '',
      number: 'B7C7268E6F50|5256E9BF6B1A|F14E559C5CD0',
      hot: false,
      top: false,
      imgSrc: '../target/source/banner/test.png',
      title: '通天西游(默认)'
    }, {
      url: '',
      number: 'B7C7268E6F50|5256E9BF6B1A|F14E559C5CD0',
      hot: true,
      top: false,
      imgSrc: '../target/source/banner/test.png',
      title: '剑雨江湖(默认)'
    }, {
      url: '',
      number: 'B7C7268E6F50|5256E9BF6B1A|F14E559C5CD0',
      hot: true,
      top: false,
      imgSrc: '../target/source/banner/test.png',
      title: '东方世纪(默认)'
    }, {
      url: '',
      number: 'B7C7268E6F50|5256E9BF6B1A|F14E559C5CD0',
      hot: true,
      top: false,
      imgSrc: '../target/source/banner/test.png',
      title: '天谕(默认)'
    }, {
      url: '',
      number: 'B7C7268E6F50|5256E9BF6B1A|F14E559C5CD0',
      hot: false,
      top: true,
      imgSrc: '../target/source/banner/test.png',
      title: '征途(默认)'
    }, {
      url: '',
      number: 'B7C7268E6F50|5256E9BF6B1A|F14E559C5CD0',
      hot: true,
      top: false,
      imgSrc: '../target/source/banner/test.png',
      title: '原始传奇3(默认)'
    }, {
      url: '',
      number: 'B7C7268E6F50|5256E9BF6B1A|F14E559C5CD0',
      hot: true,
      top: false,
      imgSrc: '../target/source/banner/test.png',
      title: '棋逢对手(默认)'
    }, {
      url: '',
      number: 'B7C7268E6F50|5256E9BF6B1A|F14E559C5CD0',
      hot: false,
      top: false,
      imgSrc: '../target/source/banner/test.png',
      title: '征途2(默认)'
    }, {
      url: '',
      number: 'B7C7268E6F50|5256E9BF6B1A|F14E559C5CD0',
      hot: true,
      top: true,
      imgSrc: '../target/source/banner/test.png',
      title: '原始传奇2(默认)'
    }, {
      url: '',
      number: 'B7C7268E6F50|5256E9BF6B1A|F14E559C5CD0',
      hot: true,
      top: false,
      imgSrc: '../target/source/banner/test.png',
      title: '棋逢对手2(默认)'
    }, {
      url: '',
      number: 'B7C7268E6F50|5256E9BF6B1A|F14E559C5CD0',
      hot: true,
      top: false,
      imgSrc: '../target/source/banner/test.png',
      title: '棋逢对手3(默认)'
    }]
  }];
  </script>
  <script type="text/javascript" src="../js/upload.js"></script>
  <script type="text/javascript" src="../js/banner.js"></script>
</body>

</html>
