<!DOCTYPE html>
<html lang="zh-CN" style="overflow:hidden;">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <meta name="description" content="">
  <meta name="author" content="xsiry">
  <title>rightCorners</title>
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="./style/rightCorners.css" />
  <svg class="txp_svg_sprite txp_svg_sprite_head" display="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
    <symbol id="close_win">
      <path d="M408.873984 409.984l69.180416 0 0 67.372032-69.180416 0 0-67.372032Z" p-id="2895"></path>
      <path d="M270.493696 342.616064 339.682304 342.616064 339.682304 275.244032 270.497792 275.244032 270.497792 207.872 201.310208 207.872 201.310208 275.244032 270.493696 275.244032Z" p-id="2896"></path>
      <path d="M339.682304 342.62016l69.187584 0 0 67.367936-69.187584 0 0-67.367936Z" p-id="2897"></path>
      <path d="M201.310208 751.064064l69.187584 0 0 67.372032-69.187584 0 0-67.372032Z" p-id="2898"></path>
      <path d="M615.130112 342.62016l69.187584 0 0 67.367936-69.187584 0 0-67.367936Z" p-id="2899"></path>
      <path d="M753.502208 751.064064l69.187584 0 0 67.372032-69.187584 0 0-67.372032Z" p-id="2900"></path>
      <path d="M545.9456 409.984l69.180416 0 0 67.372032-69.180416 0 0-67.372032Z" p-id="2901"></path>
      <path d="M684.317696 679.48032 684.317696 612.104192 615.130112 612.104192 615.130112 544.736256 547.233792 544.736256 547.233792 477.364224 545.949696 477.364224 545.9456 477.364224 478.0544 477.364224 478.050304 477.364224 476.766208 477.364224 476.766208 544.736256 408.869888 544.736256 408.869888 612.104192 339.682304 612.104192 339.682304 679.48032 270.497792 679.48032 270.497792 751.064064 339.682304 751.064064 339.682304 679.484416 408.869888 679.484416 408.869888 612.108288 478.050304 612.108288 478.050304 544.736256 545.949696 544.736256 545.949696 612.108288 615.130112 612.108288 615.130112 679.484416 684.317696 679.484416 684.317696 751.064064 753.502208 751.064064 753.502208 679.48032Z" p-id="2902"></path>
      <path d="M753.502208 207.872 753.502208 275.244032 684.317696 275.244032 684.317696 342.616064 753.506304 342.616064 753.506304 275.244032 822.689792 275.244032 822.689792 207.872Z" p-id="2903"></path>
    </symbol>
  </svg>
</head>

<body>
  <input id="a" name="a" type="hidden" value="http://uad.nmenu.cn/adst.jsp" />
  <input id="k" name="k" type="hidden" value="400,300" />
  <input id="g" name="g" type="hidden" value="0" />
  <!-- 网吧ID、区域、客户MAC地址 -->
  <input type="hidden" id="ucid" name="ucid" value="{{UCID}}" />
  <input type="hidden" id="area" name="area" value="{{AREA}}" />
  <input type="hidden" id="mac" name="mac"  value="{{MAC}}" />

  <div class="content">
    <script id="lift_win_template" type="text/html">
      <div class="lift_win">
        <div class="close_win">
          <!-- 关闭Btn -->
          <a href="close://#">
            <svg class="svg_icon" viewBox="0 0 1024 1024">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close_win"></use>
            </svg>
            关闭
          </a>
        </div>
        <!-- 外网链接 -->
        {{if iframe.url != ''}}
        <div class="my_iframe">
          <iframe id="" src="{{iframe.url}}" scrolling="no" frameborder="0" width="100%" height="100%"></iframe>
        </div>
        {{/if}}
        <!-- flash动画 -->
        {{if flash.url != ''}}
        <div class="flash_block">
          <a class="up_flash_a" href="{{flash.clickUrl}}"  data-adid="{{flash.adId}}"  data-gameid="{{flash.gameId}}">
            <div class="modal_block">
            </div>
            <object id="object_flash" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="100%" height="100%">
              <param name="movie" value="{{flash.url}}">
              <param name="quality" value="high">
              <param name="wmode" value="transparent">
              <param name="allowFullScreen" value="true" />
              <param name="flashvars" value="isAutoPlay=true&loop=true" />
              <embed id="embed_flash" class='league_flash_src' src='{{flash.url}}' wmode="transparent" quality='high' width='100%' height='100%' allowScriptAccess='always' allowFullScreen='true' wmode='direct' bgcolor='#000000' flashvars='isAutoPlay=true&loop=true' pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type='application/x-shockwave-flash'>
            </object>
            <iframe id="tmp_downloadhelper_iframe" style="display: none;"></iframe>
          </a>
        </div>
        {{/if}}
        <!-- 图片循环 -->
        {{if list.length > 0}}
        <div class="my_img">
          {{each list obj i}}
          <a class="up_a img_a img_a_{{i}}" href="{{obj.url}}" style="{{if i==0}} display: block; -webkit-animation: img_act 1s linear forwards;{{/if}}" target="_self"  data-adid="{{obj.adId}}"  data-gameid="{{obj.gameId}}">
            <img class="up_img  img_{{i}}" src="{{obj.imgSrc}}" alt="{{obj.title}}" data-adid="{{obj.adId}}"  data-gameid="{{obj.gameId}}" width="{{imgConfig.width}}" height="{{imgConfig.height}}">
          </a>
          {{/each}}
          <div class="progress_bottom_win"></div>
        </div>
        {{/if}}
      </div>

    </script>
  </div>
  <!-- JS -->
  <!--[if !IE]><!-->
  <script type="text/javascript" src="./js/jquery/jquery-3.2.1.min.js"></script>
  <!--<![endif]-->
  <!--[if lt IE 9]>
  <script src="./js/ie8/html5.min.js"></script>
  <script src="./js/ie8/selectivizr-min.js"></script>
  <script src="./js/ie8/respond.min.js"></script>
  <script src="./js/ie8/css3-mediaqueries.min.js"></script>
  <script src="./js/ie8/es5-shim.min.js"></script>
  <script src="./js/ie8/es5-sham.min.js"></script>
  <script src="./js/ie8/json3.min.js"></script>
  <script src="./js/ie8/jquery.min.js"></script>
  <![endif]-->
  <!--[if gte IE 8]>
  <script type="text/javascript">
    (function() {
      var method;
      var noop = function() {};
      var methods = [
        'assert', 'clear', 'count', 'debug', 'dir', 'dirxml', 'error', 'exception', 'group', 'groupCollapsed', 'groupEnd', 'info', 'log', 'markTimeline', 'profile', 'profileEnd', 'table', 'time', 'timeEnd', 'timeStamp', 'trace', 'warn'
      ];
      var length = methods.length;
      var console = (window.console = window.console || {});
      while (length--) {
        method = methods[length];
        // Only stub undefined methods.
        if (!console[method]) {
          console[method] = noop;
        }
      }
    }());
  </script>
  <script type="text/javascript" src="./js/jquery/jquery-3.2.1.min.js"></script>
  <![endif]-->
  <script type="text/javascript" src="./js/art-template/template.js"></script>
  <script type="text/javascript">

  // {{JSONDATA}}

  /* 参数结构备注
  var templateSource = {
    iframes: [{url: 'http://tou.junnew.com:8090/ViewHit/hitSimpleNew?bid=6102', width: 300, height: 200}, ...],
    flashs: [{url: '', width: 300, height: 200}, ...],
    flashs: [
      {
        url: 'http://js.nmenu.net/html/upload/2017/04/16/201704161542400265.swf',
        adId: '', //广告id
        gameId: '', //游戏id
        clickUrl: '', //点击跳转地址
        width: 358, //窗口宽度
        height: 246 // 窗口高度
      }，...
    ],
    imgs: {
      width: 358,
      height: 346,
      imgRandom: true, // 图片是否随机，可以不设置，默认false
      imgShowNum: 4, // 图片循环展示数目，可以不设置，默认4
      imgSec: 3, // 图片展示时间 单位：秒，可以不设置，默认4秒
      list: [{
        url: 'gamerun://gameid=38151|http://
        bdtg.4366.com/22984.html', // 跳转地址
        adId: '', // 广告id
        gameId: '', // 游戏id
        imgSrc: './target/source/rightCorners/t1.jpg', // 图片地址
        title: '原始传奇' // 图片标题
      }, ...]
    }
  }
  */

  // 数据源
  var templateSource = {
    flashs: [
      {
        url: 'target/source/RightCorners/屠龙战记-358X246.swf',
        adId: '10100',
        gameId: '38147',
        clickUrl: 'gamerun://gameid=38147|#',
        width: 358,
        height: 246
      }
    ],
    imgs: {
      width: 358,
      height: 346,
      imgRandom: true, // 图片是否随机
      imgShowNum: 4, // 图片循环展示数目
      imgSec: 3, // 图片展示时间 单位：秒
      list: []
    }
  };

  </script>
  <script type="text/javascript" src="js/upload.js"></script>
  <script type="text/javascript" src="js/rightCorners.js"></script>
</body>

</html>
