@CHARSET "UTF-8";
body {
  margin: 0px auto;
  padding: 0px;
  display: block;
  font-family: "Microsoft YaHei" ! important;
}

.banner_list {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #eef2f8;
}

.banner_block {
  position: relative;
  width: 124px;
  height: 100%;
  float: left;
  margin-left: 7px;
  background-color: #ECECEC;
  transition: box-shadow 1s ease-out, transform .1s ease-in, -webkit-filter 1s ease-out;
}

.banner_block:visited {
  transition: box-shadow 1s ease-out, transform 0s ease, -webkit-filter 1s ease-out;
}

.banner_block:hover {
  -webkit-animation: tada 4s infinite linear;
  -webkit-transform-style: preserve-3d;
  -webkit-box-shadow: 0 0px 8px rgba(0, 0, 0, 0.9);
  -webkit-filter: saturate(1.3) contrast(1.3) brightness(1.2);

  -moz-animation: tada 4s infinite linear;
  -moz-transform-style: preserve-3d;
  -moz-box-shadow: 0 0px 8px rgba(0, 0, 0, 0.9);
  -moz-filter: saturate(1.3) contrast(1.3) brightness(1.2);

  -o-animation: tada 4s infinite linear;
  -o-transform-style: preserve-3d;
  -o-box-shadow: 0 0px 8px rgba(0, 0, 0, 0.9);
  -o-filter: saturate(1.3) contrast(1.3) brightness(1.2);

  -ms-animation: tada 4s infinite linear;
  -ms-transform-style: preserve-3d;
  -ms-box-shadow: 0 0px 8px rgba(0, 0, 0, 0.9);
  -ms-filter: saturate(1.3) contrast(1.3) brightness(1.2);

  animation: tada 4s infinite linear;
  transform-style: preserve-3d;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.9);
  filter: saturate(1.3) contrast(1.3) brightness(1.2);
}

@-webkit-keyframes tada{
0%{-webkit-transform:scale(0.95) rotate3d(0,1,0,0); }
25%{-webkit-transform:scale(0.95) rotate3d(0,1,0,20deg); }
50%{-webkit-transform:scale(0.95) rotate3d(0,1,0,0); }
75%{-webkit-transform:scale(0.95) rotate3d(0,1,0,-20deg); }
100%{-webkit-transform:scale(0.95) rotate3d(0,1,0,0);}
}

@-moz-keyframes tada{
0%{-moz-transform:scale(0.95) rotate3d(0,1,0,0); }
25%{-moz-transform:scale(0.95) rotate3d(0,1,0,20deg); }
50%{-moz-transform:scale(0.95) rotate3d(0,1,0,0); }
75%{-moz-transform:scale(0.95) rotate3d(0,1,0,-20deg); }
100%{-moz-transform:scale(0.95) rotate3d(0,1,0,0);}
}

@-o-keyframes tada{
0%{-o-transform:scale(0.95) rotate3d(0,1,0,0); }
25%{-o-transform:scale(0.95) rotate3d(0,1,0,20deg); }
50%{-o-transform:scale(0.95) rotate3d(0,1,0,0); }
75%{-o-transform:scale(0.95) rotate3d(0,1,0,-20deg); }
100%{-o-transform:scale(0.95) rotate3d(0,1,0,0);}
}

@-ms-keyframes tada{
0%{-ms-transform:scale(0.95) rotate3d(0,1,0,0); }
25%{-ms-transform:scale(0.95) rotate3d(0,1,0,20deg); }
50%{-ms-transform:scale(0.95) rotate3d(0,1,0,0); }
75%{-ms-transform:scale(0.95) rotate3d(0,1,0,-20deg); }
100%{-ms-transform:scale(0.95) rotate3d(0,1,0,0);}
}

@keyframes tada{
0%{transform:scale(0.95) rotate3d(0,1,0,0); }
25%{transform:scale(0.95) rotate3d(0,1,0,20deg); }
50%{transform:scale(0.95) rotate3d(0,1,0,0); }
75%{transform:scale(0.95) rotate3d(0,1,0,-20deg); }
100%{transform:scale(0.95) rotate3d(0,1,0,0);}
}

.banner_block img {
  width: 100%;
  height: 100%;
  display:block;
}

.tag {
  position: absolute;
  top: 0px;
  left: 10px;
  width: 37px;
  height: 21px;
  background: url(../images/hot.png) no-repeat;
}

.bottom_title {
  font-size: 14px;
  text-align: center;
  width: 100%;
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, .7), rgba(0, 0, 0, .4) 90%, rgba(0, 0, 0, .2));
  background: linear-gradient(to top, rgba(45, 45, 45, .9), rgba(45, 45, 45, .1) 90%, rgba(45, 45, 45, .01));
  /*background-color: rgba(0, 0, 0, 0.40);*/
  position: absolute;
  bottom: 0;
  line-height: 28px;
}

.banner_list a {
  color: #FFFFFF;
  text-decoration: none;
}

.banner_list a:hover {
  color: #fde622;
  text-decoration: none;
}
