@CHARSET "UTF-8";

html, body {
  margin: 0px auto;
  padding: 0px;
  display: block;
  width: 100%;
  height: 100%;
  font-family: "Microsoft YaHei" ! important;
}

.content, .content a {
	display: block;
	height: 100%;
}

.modal_block {
	display: block;
  height: 100%;
  width: 100%;
  z-index: 10;
  position: absolute;
}

.flash_block, .img_block {
	width: 100%;
	height: 100%;
}