@CHARSET "UTF-8";
html, body {
  margin: 0px auto;
  padding: 0px;
  display: block;
  width: 100%;
  height: 100%;
  font-family: "Microsoft YaHei" ! important;
}

.content {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #303030;
  border-radius: 2px;
}

div.content>a>div>img {
  border-radius: 2px;
}

.lift_win {
  position: relative;
  width: 100%;
  height: 100%;
}

.img_a {
  display: none;
}

.close_win {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
  padding-right: 5px;
  /*border-radius: 5px;*/
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

.close_win>a {
  color: #FFFFFF;
}

.close_win>a:hover {
  color: #ff0000;
  text-decoration: none;
}

.svg_icon {
  display: inline-block;
  width: 22px;
  height: 22px;
  vertical-align: -6px;
  pointer-events: none;
  fill: currentColor
}

.progress_bottom_win {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #FF0000;
  height: 2px;
  width: 0;
}

.my_img {
  display: none;
}
.my_flash {
  display: none;
  width: 100%;
  height: 100%;
}
.my_iframe {
  display: none;
  width: 100%;
  height: 100%;
}

@-webkit-keyframes img_act {
  0% { opacity: 0; -webkit-filter: saturate(1) contrast(1) brightness(1);}
  50% { opacity: 0.5; -webkit-filter: saturate(1.1) contrast(1.1) brightness(1.1); }
  100% { opacity: 1; -webkit-filter: saturate(1.2) contrast(1.2) brightness(1.2);}
}

@-moz-keyframes img_act {
  0% { opacity: 0; -moz-filter: saturate(1) contrast(1) brightness(1);}
  50% { opacity: 0.5; -moz-filter: saturate(1.1) contrast(1.1) brightness(1.1); }
  100% { opacity: 1; -moz-filter: saturate(1.2) contrast(1.2) brightness(1.2);}
}

@-o-keyframes img_act {
  0% { opacity: 0; -o-filter: saturate(1) contrast(1) brightness(1);}
  50% { opacity: 0.5; -o-filter: saturate(1.1) contrast(1.1) brightness(1.1); }
  100% { opacity: 1; -o-filter: saturate(1.2) contrast(1.2) brightness(1.2);}
}

@-ms-keyframes img_act {
  0% { opacity: 0; -ms-filter: saturate(1) contrast(1) brightness(1);}
  50% { opacity: 0.5; -ms-filter: saturate(1.1) contrast(1.1) brightness(1.1); }
  100% { opacity: 1; -ms-filter: saturate(1.2) contrast(1.2) brightness(1.2);}
}

@keyframes img_act {
  0% { opacity: 0; filter: saturate(1) contrast(1) brightness(1);}
  50% { opacity: 0.5; filter: saturate(1.1) contrast(1.1) brightness(1.1); }
  100% { opacity: 1; filter: saturate(1.2) contrast(1.2) brightness(1.2);}
}

@-webkit-keyframes progress_bottom_act {
  0% { width: 0%;}
  100% { width: 100%;}
}

@-moz-keyframes progress_bottom_act {
  0% { width: 0%;}
  100% { width: 100%;}
}
@-o-keyframes progress_bottom_act {
  0% { width: 0%;}
  100% { width: 100%;}
}
@-ms-keyframes progress_bottom_act{
  0% { width: 0%;}
  100% { width: 100%;}
}
@keyframes progress_bottom_act {
  0% { width: 0%;}
  100% { width: 100%;}
}